doctype html
html 
    head 
        title Real Time Web Chat
        link(href='/css/style.css', rel='stylesheet')
        script(src='http://localhost:3700/socket.io/socket.io.js')
        script(src='/chat.js')

    body 
        h1 Welcome to My Portfolio
        #content
        .controls 
            input.name(placeholder='name')
            select.chatroom
                option(value="javascript") JavaScript
                option(value="node") Node 
                option(value="express") Express  
            input.joinroom(type='button', value='join room')
            input.field(placeholder='ask away')
            input.send(type='button', value='send')