body {
    color: white;
    background-color: #303030;
}

#content {
    width: 950px;
    height: 450px;
    flex-shrink: 0; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #06F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.field,
.send {
    color: white;
    background-color: #303030;
    display: block;
    width: 950px;
    height: 50px;
    flex-shrink: 0; 
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #06F;
}

.send {
    color: white;
    background: #06F;
    width: 995px;
}
